@font-face {
  font-family: 'Divine';
  src: url('fonts/DivineRegular.woff2') format('woff2'),
      url('fonts/DivineRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Bloody Gothic';
  src: url('fonts/BloodyGothicEmpire.woff2') format('woff2'),
      url('fonts/BloodyGothicEmpire.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



* {
  --primary: #111;
  --secondary: red;
}
body {
  font-family: "Source Code Pro", sans-serif;
  background-color: var(--secondary);
  color: #ddd;
}


header {
  color: var(--secondary);
  font-family: "Divine", sans-serif;
  margin-left: 100px;
  height: 100px;
  font-size: 2.5rem;
  position: fixed;
}

h2 {
  font-family: "Bloody Gothic";
  text-align: center;
  font-size: 3.2rem;
}


.file_list {
  /* Foreground, Background */
  scrollbar-color: red black;
}

.file_list::-webkit-scrollbar-track { /* Background */
  background: #333;
}
.file_list {
  font-size: 0.8rem;
  position: fixed;
  top: 350px;
  left: 250px;
  margin: 20px auto;
  width: 300px;
  border-radius: 20px;
  color: var(--secondary);
  border-left: 1px solid var(--secondary);
  border-right: 1px solid var(--secondary);

}

.list_item {
    padding: 5px;
    padding-left: 20px;
    border-bottom: black;
    cursor: crosshair;
}

.list_item:hover {
    background-color: var(--secondary);
    color: var(--primary);
}

audio {
    width: 100%;
    margin-top: 10px;
}
#active_file {
  position: fixed;
  bottom: 5vh;
  width: 100vw;
}

.metadata {
  font-size: 0.8rem;
  position: fixed;
  bottom: 200px;
  right: 200px;
  background-color: transparent;
  color: var(--secondary);
  width: 800px;
}
 
.metadata tr td {
  min-width: 300px;
}

#leftcard {
  position: fixed;
  z-index: -1;
  top: -10px;
  left: -10px;
  background-color: var(--primary);
  min-height: 102vh;
  width: 50vw;
}


.flex_center {
  display: flex;
  justify-content: center;
}
.mouse_controls {
  text-align: center;
  position: fixed;
  
  top: 50px;
  right: 50px;
  filter: opacity(0.85);
  font-size: 0.7rem;
  border-radius: 10px;
  color: black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.mouse_controls * {
  margin: 0px 20px 0px 20px;
}

.mouse_controls > h3 {
  margin: 0px 0px 30px 0px;
}
.icon {
  max-width: 50px;
}

.about {
  position: absolute;
  bottom: 50px;
  right: 50px;
  font-size: 0.8rem;
  color: var(--primary);
}

a {
  color: var(--primary);
}

.commit_table {
  position: fixed;
  top: 50vh;
  transform: translate(0%, -50%);
  right: 50px;
  display: flex;
  flex-direction: column;
  color: #111;
  
}

td.status-indicator {
  position: relative;

  padding-left: 2rem;
  font-weight: bold;
  color: #2ecc71; /* green text (optional) */
}

td.status-indicator::before {
  content: "";
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: #2ecc71; /* green light */
  border-radius: 50%;
  box-shadow: 0 0 6px 2px #2ecc71;
}
